table {
  font-family: Arial, Helvetica, sans-serif;
  border-collapse: collapse;
  width: 90%;
  margin:35px auto;
}
.search-input input{
  padding:5px 20px;
  margin-left: 10px;
  margin-top: 10px;
}
.search-input label{
  margin-left: 10px;
}
table td,table th {
  border: 1px solid #ddd;
  padding: 8px;
}
tbody td{
  place-content: center;
}
table tr:nth-child(even) {
  background-color: #f2f2f2;
}

table tr:hover {
  background-color: #ddd;
}

table th,tfoot td {
  padding-top: 12px;
  padding-bottom: 12px;
  text-align: center;
  background-color: #04AA6D;
  color: white;
}